.header {
  background-color: #111;
  color: #121212;
}

.content {
  height: 100%;
  background-color: #000;
}

.footer {
  background-color: #333;
}

.quote-content {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
}

.quote-author {
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  text-align: left;
}

.author_photo {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.paragraph {
  display: inline-block;
  float: right;
  color: #fff;
}

.link {
  display: inline;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #00d4ff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
}

.next {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  padding: 16px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #3900b3;
  background-color: #3900b3;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.next:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #00d4ff;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.gradient {
  height: 2px;
  background-image: linear-gradient(135deg, #3900b3, #00d4ff);
}

.body {
  height: 100%;
  max-height: 100%;
  background-color: #000;
}

.btn-container {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

